/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

:root {
  --primary-color: #5D3A9B;
  --secondary-color: #FFD700;
  --accent-color: #E57373;
  --background-color: #1A1A2E;
}

